bbva-ops-instancescheduler;na
bbva-ops-uuaa;na
bbva-ops-operationalband;work
bbva-ops-logicalenvironment;test
bbva-arch-projectname;na
bbva-arch-workload;app
bbva-ops-lineofbusiness;oso-unix
bbva-ops-lineofbusinesslevel2;oso-unix
bbva-arch-initiative;unknown
bbva-ops-techcontact;oso-unix
bbva-ops-createdby;oso-unix
bbva-isg-pci;no
bbva-isg-pii;no
bbva-isg-sox;no
bbva-arch-appcmdb;policy
bbva-ops-backup-plan;Never
bbva-ops-instancename;itsmprodpoltest
Name;itsmprodpoltest
